@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
}

@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark;
  /* darktheme: "dark"; */
}
.active {
  background-color: #dbeafe;
  color: #1e40af;
  font-weight: 600;
  border-radius: 0.5rem;
}
